@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container {
    max-width: calc(1320px - (40px * 2));
    margin-left: auto;
    margin-right: auto;
   padding: 0 40px;
}

* {
        margin: 0;
        padding: 0;
   }

.choice {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 300px;

}

p {
    text-align: center;
    margin-top: 100px;
}




